<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.project.common.commonquery.mapper.CommonQueryMapper">
  <resultMap id="BaseResultMap" type="com.example.springbootdemo.project.common.commonquery.pojo.CommonQuery">
    <id column="common_query_id" jdbcType="BIGINT" property="commonQueryId" />
    <result column="common_query_url" jdbcType="VARCHAR" property="commonQueryUrl" />
    <result column="common_query_sql" jdbcType="VARCHAR" property="commonQuerySql" />
    <result column="common_query_conditions" jdbcType="VARCHAR" property="commonQueryConditions" />
    <result column="common_query_additional" jdbcType="VARCHAR" property="commonQueryAdditional" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateby" jdbcType="VARCHAR" property="updateby" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    common_query_id, common_query_url, common_query_sql, common_query_conditions, common_query_additional, 
    del_flag, createby, createtime, updateby, updatetime, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from common_query
    where common_query_id = #{commonQueryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from common_query
    where common_query_id = #{commonQueryId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="common_query_id" keyProperty="commonQueryId" parameterType="com.example.springbootdemo.project.common.commonquery.pojo.CommonQuery" useGeneratedKeys="true">
    insert into common_query (common_query_url, common_query_sql, common_query_conditions, 
      common_query_additional, del_flag, createby, 
      createtime, updateby, updatetime, 
      description)
    values (#{commonQueryUrl,jdbcType=VARCHAR}, #{commonQuerySql,jdbcType=VARCHAR}, #{commonQueryConditions,jdbcType=VARCHAR}, 
      #{commonQueryAdditional,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{createby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="common_query_id" keyProperty="commonQueryId" parameterType="com.example.springbootdemo.project.common.commonquery.pojo.CommonQuery" useGeneratedKeys="true">
    insert into common_query
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commonQueryUrl != null">
        common_query_url,
      </if>
      <if test="commonQuerySql != null">
        common_query_sql,
      </if>
      <if test="commonQueryConditions != null">
        common_query_conditions,
      </if>
      <if test="commonQueryAdditional != null">
        common_query_additional,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updateby != null">
        updateby,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commonQueryUrl != null">
        #{commonQueryUrl,jdbcType=VARCHAR},
      </if>
      <if test="commonQuerySql != null">
        #{commonQuerySql,jdbcType=VARCHAR},
      </if>
      <if test="commonQueryConditions != null">
        #{commonQueryConditions,jdbcType=VARCHAR},
      </if>
      <if test="commonQueryAdditional != null">
        #{commonQueryAdditional,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootdemo.project.common.commonquery.pojo.CommonQuery">
    update common_query
    <set>
      <if test="commonQueryUrl != null">
        common_query_url = #{commonQueryUrl,jdbcType=VARCHAR},
      </if>
      <if test="commonQuerySql != null">
        common_query_sql = #{commonQuerySql,jdbcType=VARCHAR},
      </if>
      <if test="commonQueryConditions != null">
        common_query_conditions = #{commonQueryConditions,jdbcType=VARCHAR},
      </if>
      <if test="commonQueryAdditional != null">
        common_query_additional = #{commonQueryAdditional,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where common_query_id = #{commonQueryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootdemo.project.common.commonquery.pojo.CommonQuery">
    update common_query
    set common_query_url = #{commonQueryUrl,jdbcType=VARCHAR},
      common_query_sql = #{commonQuerySql,jdbcType=VARCHAR},
      common_query_conditions = #{commonQueryConditions,jdbcType=VARCHAR},
      common_query_additional = #{commonQueryAdditional,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      createby = #{createby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updateby = #{updateby,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where common_query_id = #{commonQueryId,jdbcType=BIGINT}
  </update>

  <select id="executeQuery" resultType="java.util.Map">
    ${sql}
  </select>

  <select id="selectCommonQueryByUrl" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM common_query WHERE
    common_query_url = #{url}
  </select>

</mapper>